/* my name is prabhjot singh 
   my student no. is 8980401 */

   
body {
    background-color:hsl(185, 95%, 48%); 
    font-family: cursive;
    font-size: 20px;
    height: auto; 
    width: 350px;
  }

  
  h2 {
    color:#ff0000;
    font: 30px;
  }
  
  